@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --bg-gray:#ddd;
    --primary-color:#4D41C0;
    --white:#fff;
}
* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
h1, h2, h2, h4, h5 ,h6 {
    margin: 0;
}
html, body {
    background-color: var(--bg-gray);
}
header {
    background-color: var(--primary-color);
    color: var(--white);
    position: absolute;
    width: 100%;
    height: 6rem;
    top:0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}
nav h1{
    font-size: 2.4rem;
    font-weight: 700;
}
a, a:hover {
    text-decoration: none;
    color: unset;
    font-size: 1.2rem;
    align-items: center;
    text-align: center;
}
.contact-container{
    display: flex;
    align-items: center;
}
.contact-container img {
    margin-right: 0.5rem;
    width: 2rem;
}
#dsmovie-card-list{
    padding: 10rem 0;
}
.dsmovie-card{
    width: 26rem;
    height: 35rem;
    border-radius: 1rem;
    background-color: var(--white);
}
.dsmovie-card img{
    width: 100%;
    height: 60%;
    border-radius: 1rem 1rem 0 0;
}
.dsmovie-card-description{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1rem;
}
.dsmovie-btn{
    width: 18rem;
    height: 4rem;
    top: 28.9rem;
    left: 4rem;
    border-radius: 0.4rem;
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    font-size: 1.4rem;
}

