@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
html, body {
    background-color: lightskyblue;
}
header {
    background-color: #4D41C0;
    color: #ddd;
    position: absolute;
    width: 100%;
    height: 6rem;
    top:0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}
a, a:hover {
    text-decoration: none;
    color: unset;
    font-size: 1.2rem;
    align-items: center;
    text-align: center;
}
img {
    width: 2.5rem;
}

