@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --bg-gray:#ddd;
    --primary-color:#4D41C0;
    --white:#fff;
    --star-yellow:#FFBB3A;
    --avaliacoes:#989898;
}
* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
h1, h2, h2, h4, h5 ,h6 {
    margin: 0;
}
html, body {
    background-color: var(--bg-gray);
}
header {
    background-color: var(--primary-color);
    color: var(--white);
    position: absolute;
    width: 100%;
    height: 6rem;
    top:0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}
nav h1{
    font-size: 2.4rem;
    font-weight: 700;
}
a, a:hover {
    text-decoration: none;
    color: unset;
    font-size: 1.2rem;
    align-items: center;
    text-align: center;
}
.contact-container{
    display: flex;
    align-items: center;
}
.contact-container img {
    margin-right: 0.5rem;
    width: 2rem;
}
#dsmovie-card-list{
    padding: 6rem 0;
}
.dsmovie-card{
    width: 100%;
    border-radius: 1rem;
    background-color: var(--white);
}
.dsmovie-card img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}
.dsmovie-card>img{
    min-height: 30rem;
}
.dsmovie-card-description{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    min-height: 15rem;
}
.dsmovie-description-card-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dsmovie-description-card-bottom h4{
    font-size: 16px;
    font-weight: 700;
    color: var(--star-yellow);
}
.dsmovie-description-card-bottom img {
    width: 22px;
    margin: 5px 0 5px 0;
}
.dsmovie-description-card-bottom p{
    font-size: 12px;
    font-weight: 400;
    color: var(--avaliacoes);
}
.dsmovie-btn, .dsmovie-btn:hover{
    width: 60%;
    height: 50%;
    border-radius: 0.4rem;
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    padding: 0.3rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.9rem;
}
.dsmovie-card-description h3{
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
.row{
    margin: 0;
}
.dsmovie-form-container{
    padding: 2rem 0;
    max-width: 23rem;
}
.dsmovie-form{
    text-align: left;
    width: 100%;
    padding: 0.2rem;
}
input{
    width: 100%;
}
label{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #AAAAAA;
    
}
button{
    margin: 1rem;
}
.dsmovie-pagination-container{
    padding: 15px 0;
    display: flex;
    justify-content: center;
    top: 0rem;
}
.dsmovie-pagination-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
}
.dsmovie-pagination-box p{
    margin: 0;
    font-size: 12px;
    color: var(--primary-color);
    font-weight: 400;
}
.dsmovie-pagination-box button{
    height: 3rem;
    width: 3rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.dsmovie-rotation-arrow img{
    transform: rotate(180deg);
}
.dsmovie-pagination-box button img{
    filter:brightness(0) saturate(100%) invert(30%) sepia(49%) saturate(2344%) hue-rotate(228deg) brightness(81%) contrast(95%);
}
.dsmovie-pagination-box button:disabled{
    border: 1px solid var(--avaliacoes);
}
.dsmovie-pagination-box button:disabled img{
    filter: unset;
}
.footer{
    text-align: center;
    font-size: 12px;
    padding: 0.5rem;
}
.footer a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.footer p{
    margin: 0;
}
